@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Noto Sans KR", sans-serif;
}

@layer components {
  .markdown img {
    @apply py-4 align-middle;
  }

  .markdown p {
    @apply py-2 leading-relaxed text-gray-700;
  }

  .markdown * + * {
    @apply mt-0 mb-4;
  }

  .markdown a {
    @apply text-gray-500 underline;
  }

  .markdown ul {
    @apply pl-8 text-base;
  }

  .markdown ol {
    @apply pl-8 text-base list-decimal;
  }

  .markdown li {
    @apply inline-block p-3 text-2xl font-semibold bg-gray-600 bg-yellow-100 rounded-xl;
  }

  .markdown li + li {
    @apply mt-1;
  }

  .markdown li > p + p {
    @apply mt-6;
  }

  .markdown strong {
    @apply font-semibold;
  }

  .markdown strong a {
    @apply font-bold;
  }

  .markdown h1 {
    @apply pb-2 mt-6 mb-4 text-4xl font-semibold leading-tight text-gray-700 border-b;
  }

  .markdown h2 {
    @apply pb-2 mt-6 mb-4 text-3xl font-semibold leading-snug text-gray-700 border-b;
  }

  .markdown h3 {
    @apply mt-6 mb-4 text-lg font-semibold leading-snug;
  }

  .markdown h4 {
    @apply mt-6 mb-4 text-base font-semibold leading-none;
  }

  .markdown h5 {
    @apply mt-6 mb-4 text-sm font-semibold leading-tight;
  }

  .markdown h6 {
    @apply mt-6 mb-4 text-sm font-semibold leading-tight text-gray-600;
  }

  .markdown blockquote {
    @apply pl-4 pr-4 text-base text-gray-600 border-l-4 border-gray-300;
  }

  .markdown code {
    @apply p-1 text-red-500 bg-gray-200 rounded-lg;
  }

  .markdown pre {
    @apply p-4 bg-gray-100 rounded;
  }

  .markdown pre > code {
    @apply block p-2 overflow-visible overflow-x-auto leading-tight text-gray-600 bg-transparent bg-gray-200 rounded-none;
  }

  .markdown kbd {
    @apply inline-block px-1 font-mono text-xs font-normal align-middle border rounded shadow;
  }

  .markdown table {
    @apply text-base border-gray-600;
  }

  .markdown th {
    @apply px-3 py-1 border;
  }

  .markdown td {
    @apply px-3 py-1 border;
  }

  /* Override pygments style background color. */
  .markdown > .highlight pre {
    @apply bg-gray-100 !important;
  }
}

object {
  display: block;
  vertical-align: middle;
}
