@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply py-4 text-2xl font-semibold text-gray-700;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  a {
    @apply underline;
  }
}

image {
  width: auto;
  height: auto;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}
