@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Noto Sans KR", sans-serif;
}

@layer base {
  h1 {
    @apply py-4 text-2xl font-semibold text-gray-700;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  a {
    @apply underline;
  }
  p {
    @apply py-2 text-lg;
  }
}

image {
  width: auto;
  height: auto;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}
